.logo {
  font-family: Roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-text {
  font-family: Raleway;
  font-style: normal;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-teext {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
}

.logo-teext {
  margin-bottom: 20px;
}

.logo-accent {
  color: var(--accent-color);
}
